.win10.normal #tabs-container.top {
    padding-top: 2px;
}

.win10 .vivaldi {
    height: 29px;
}

#browser.win.win10 .window-buttongroup {
    position: absolute;
    right: 0;
    top: -3px;
}

.toolbar-statusbar {
    height: 27px;
    font-size: 18px;
}

.toolbar-statusbar > .button-toolbar > button,
.toolbar-statusbar > .page-zoom-controls > .button-toolbar > button {
  height: 27px;
  font-size: 20px;
}

.UrlBar {
    --ToolbarItemGap: 1px;
}

